.searchBox {
  width: 300px;
  padding: 20px 0;
}
.field {
  background-color: rgb(252, 253, 253);
  border: 1px solid rgb(158, 156, 156);
  border-radius: 3px;
  height: 24px;
  color: black;
  display: flex;
  align-items: flex-start;
}

.field:hover,
.field:focus {
  border: 1px solid rgb(37, 37, 36);
}
.titleField {
  display: flex;
  color: #000;
  font-weight: 600;
  margin-right: 8px;
  margin-bottom: 5px;
}
